@charset "utf-8";
html{	
	width: 100%;
	height: 100%;
}
body{	
	width: 100%;
	height:100%;
	font-family: "微软雅黑 Regular","Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#787878; 
	background: #ffffff;
}
button {
	cursor: pointer;
}
a{
	color:#787878;
}
hr{	
	border-top: 1px solid #ccc;
	margin-top: 15px;
    margin-bottom: 15px;
}
table{
	table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}
td{
	width:100%;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
/* 基本样式 */
html{font-size: 100px;}
body{	
	font-size: 0.14rem;
	line-height: 1.428571429;	
}
.fl{	
	float: left;
}
.fr{	
	float: right;
}
	/* header分区样式 */
header,.footer{
	width: 100%;
	height: 0.6rem;
	background: #d2f1f1;
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #7d7d7d;
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.container{
	width:80%;
	height: 100%;
	margin: 0 auto;
}
.time{	
	text-align: left;
	line-height: 0.24rem;
	margin-top: 0.05rem;
	color: #000;
}	
.hours{	
	display:inline-block;
	margin-left: 12%;
	font-size: 0.18rem;
	font-weight: bold;
	letter-spacing: 0.04rem;
}
.form-inline .form-group{	
	padding-left: 0.2rem;
}
.from,.btnBox,.userInfo{
	line-height: 0.5rem;
}
.userInfo{
	display: none;
}
.sr-only {
    position: relative;
    top: 10px;
    left: -10px;
    width: 20px;
    height: 24px;
}
.sr-only img{	
	width: 100%;
	height: auto;
	display:block;
}
.btn{	
	position: relative;
	top: 0.02rem;
}
.btn-primary{	
	margin-right: 0.12rem;
}
	/* logo分区 */
.logo{	
	height: 0.65rem;
	padding-top: 0.1rem;
	box-sizing: border-box;
}
.logo_img{	
	width: 25%;
}
.search{	
	width: 40%;
	margin-top: 0.1rem;
}
.input-group-btn{	
	top: -0.02rem;
}
	/* nav分区 */
.navbar{	
	background: #d2f1f1;
}
.nav{	
	width:100%;
}
.nav>li{	
	width: 13%;
	height:100%;
	text-align: center;
	font-size: 0.16rem;
	border-left: 1px solid #ddd;
}
.nav>li:nth-of-type(4),.nav>li:nth-of-type(5){	
	width: 17.5%;
}
.nav>li:last-of-type{	
	border-right: 1px solid #ddd;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{	
	background: rgba(51,153,255,0.4);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{	
	font-weight: bold;
	color: #000000;
} 

	/* 侧边栏分区	 */
section{ position: relative;}
.lostAndFound_log,.focusOnzilvhui{	
	width: 10%;
	text-align: center;
	position: absolute;
	z-index: -1;
}
.lostAndFound_log{ left: 0.1rem; top: 0rem; display: none;}
.focusOnzilvhui{ right: 0.1rem; top: 0rem; box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.lostAndFound_log img,.focusOnzilvhui img{	
	width: 100%;
}
.focusOnzilvhui>div:first-child{	
	height: 0.4rem;
	line-height: 0.4rem;
	border-radius: 2px;
	background: #d2f1f1;
	color: #000;
	font-size: 0.16rem;
	letter-spacing:5px;
}
.focusOnzilvhui>div:nth-of-type(2){	
	background: #FFFFFF;
}
	/* footer分区 */
footer{	
	text-align: center;
}
.footer{
	height: 0.4rem;
	line-height: 0.4rem;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	text-align: center;
}
.footer ul{ 
	display: inline-flex;
}
.footer ul li{	
	width: 0.8rem;
	text-align: center;
}
.footer ul li:first-of-type:after{	
	display: none;
}
.footer ul li:after{	
	content: "";
	display: block;
	width:1px;
	height:0.15rem;
	background: #555;
	position: relative;
	right: 0;
	top: -0.32rem;
}
.breadcrumb {
    padding:0;
    margin-bottom: 0;
    list-style: none;
    background: none;
    border-radius: 0;
	color: #fff;
}
input[type=radio]{  
	-webkit-appearance: radio;
}
input[type=checkbox]{	
	-webkit-appearance: checkbox;
}

/* Paging分页样式 */
#paging,#paging1 ,#paging2,#paging3,#paging4{
  overflow: hidden;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  color: #0099ff;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#paging .first,#paging1 .first,#paging2 .first,#paging3 .first,#paging4 .first,
#paging .last,#paging1 .last,#paging2 .last,#paging3 .last,#paging4 .last,
#paging .prev,#paging1 .prev,#paging2 .prev,#paging3 .prev,#paging4 .prev,
#paging .next,#paging1 .next,#paging2 .next,#paging3 .next,#paging4 .next,
#paging .list li,#paging1 .list li,#paging2 .list li,#paging3 .list li,#paging4 .list li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 4px;
  padding: 0 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 4px;
  vertical-align: top;
}
#paging .list,#paging1 .list,#paging2 .list,#paging3 .list,#paging4 .list {
  display: inline-block;
  vertical-align: top;
}
#paging .list li,#paging1 .list li,#paging2 .list li,#paging3 .list li,#paging4 .list li {
  width: 40px;
  padding: 0;
  text-align: center;
}
#paging .list li.cur,#paging1 .list li.cur,#paging2 .list li.cur,#paging3 .list li.cur,#paging4 .list li.cur{
  color: #fff;
  background-color: #0099ff;
  border-color: #428bca;
}
#paging .go,#paging1 .go,#paging2 .go,#paging3 .go,#paging4 .go {
  display: none;
  position: relative;
  max-width: 160px;
  height: 30px;
  text-align: left;
  border-radius: 4px;
}
#paging .go input,#paging1 .go input,#paging2 .go input,#paging3 .go input,#paging4 .go input {
  float: left;
  width: 70%;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  font-size: 16px;
  box-sizing: border-box;
  color: #0099ff;
  border: 1px solid #ddd;
}
#paging .go button,#paging1 .go button,#paging2 .go button,#paging3 .go button,#paging4 .go button {
  width: 30%;
  position: absolute;
  border: none;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #0099ff;
  border-radius: 0 4px 4px 0;
}
#paging .disable,#paging1 .disable,#paging2 .disable,#paging3 .disable,#paging4 .disable {
  color: #bfbfbf;
  cursor: not-allowed;
}

#paging input::-webkit-input-placeholder,paging1 input::-webkit-input-placeholder,#paging2 input::-webkit-input-placeholder,#paging3 input::-webkit-input-placeholder { color: #bfbfbf; }
#paging input::-moz-input-placeholder,#paging1 input::-moz-input-placeholder,#paging2 input::-moz-input-placeholder,#paging3 input::-moz-input-placeholder { color: #bfbfbf; }
#paging input:-ms-input-placeholder,#paging1 input:-ms-input-placeholder,#paging2 input:-ms-input-placeholder,#paging3 input:-ms-input-placeholder { color: #bfbfbf; }
