@charset "utf-8";
/* CSS Document */

input[type=checkbox], input[type=radio]{	
	width: 16px;
	height: 16px;
}
.btn-success{	
	margin-right: 0.5rem;
}
input[type=radio]{  
	position: relative;
	top: 5px;
}
input[type=checkbox]{	
	position: relative;
	top: 2px;
}
.radio>label{	
	margin-right: 0.5rem;
}